.PostItem {
    background-color: #ffffff;
    border: 1px solid #DBDBDB;
    margin-bottom: 25px;
    border-radius: 5px;
}
.PostItem-header {
    padding: 13px 15px;
    display: flex;
    justify-content: space-between;
}

.PostItem-account span {
    font-weight: 600;
    margin-left: 10px;
}

.PostItem-header img{
    width: 35px;
    border-radius: 50%;
    vertical-align: middle;
}
.image > img {
    width: 100%;
}

.btn {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.btn-left img {
    margin-right: 10px;
    cursor: pointer;
}

.menu span {
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #666666;
    border-radius: 50%;
    margin-left: 2px;
}

.PostItem-section {
    padding: 0px 15px;
    font-weight: 600;
    line-height: 1.6;
}

.PostItem-section span:not(:first-child) {
    font-weight: 500;
    margin-left: 8px;
}

.PostItem-section a {
    font-weight: 500;
    text-decoration: none;
    color: #00377E;
}

.date {
    text-transform: uppercase;
    color: #8E8E8E;
    font-size: 10px;
}

.PostItem-section .date {
    margin-top: 5px;
}